{% extends "layout.html" %}
{% block content %}
<div class="container">
<h1>Administration</h1>
<br/>
<!-- The data that is sent back from the server is a List of Python Dictionaries -->
{% if userdata %}
    <form method="POST" action="/admin">
    <table class="table">
    <tr>
        <!-- Get all the keys of the first python dictionary as column headings -->
        {% for key in userdata[0].keys() %}
            <th>{{key}}</th>
        {% endfor %}
            <th>delete</th>
    </tr>
        <!-- Print out each python dictionary into a html table row -->
    {% for row in userdata %}
    <tr>
        {% for column in row.values() %}
        <td>{{column}}</td>
        {% endfor %}
        <td><input type="checkbox" name="deleteuser" value="{{row['userid']}}"></td> <!-- Add checkbox for the userid -->
    </tr>
    {%endfor%}
    </table>
    <input type=submit value=Delete>
    </form>
{% endif %}
<br/>
{% if gamedata %}
    <form method="POST" action="/admin">
    <table class="table">
    <tr>
        <!-- Get all the keys of the first python dictionary as column headings -->
        {% for key in gamedata[0].keys() %}
            <th>{{key}}</th>
        {% endfor %}
            <th>delete</th>
    </tr>
        <!-- Print out each python dictionary into a html table row -->
    {% for row in gamedata %}
    <tr>
        {% for column in row.values() %}
        <td>{{column}}</td>
        {% endfor %}
        <td><input type="checkbox" name="deletegame" value="{{row['gameid']}}"></td> <!-- Add checkbox for the userid -->
    </tr>
    {%endfor%}
    </table>
    <input type=submit value=Delete>
    </form>
{% endif %}

</div>
{% endblock %}